<div class="h-10 px-5 m-2 flex justify">
  <%= button_to snapshots_path, method: :post,
  class:"bg-orange-300 hover:bg-orange-400 text-orange-800 font-bold py-2 px-4 rounded-l" do %>
    <p> Create Snapshot! </p>
  <% end %>
</div>

<div class="justify-center flex items-center mt-8">
   <% if @pools.present? %>
    <%= image_tag "graph5.png" %>
  <% else %>
    <%= 'CLEAR TREE' %>
  <% end %>
</div>
