<p class="text-2xl text-center mb-5 mt-5">Select the date and click Check tree image</p>

<table class="shadow-lg bg-white border-separate text-left mx-auto">
  <tr>
    <th class="bg-green-200 border text-center px-6 py-3">Id</th> 
    <th class="bg-green-200 border text-center px-6 py-3">Snapshot</th>
    <th class="bg-green-200 border text-center px-6 py-3">Check tree</th> 
  </tr>
    
  <% @snapshots.each do |snapshot| %>
    <tr>
      <td class="border px-6 py-3"><%= snapshot.id %></td>
      <td class="border px-6 py-3"><%= snapshot.identifier %></td>
      <td class="border px-6 py-3"> 
        <%= link_to snapshot_path(snapshot), class:"text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200",
        data: { turbo_method: :get } do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400 m-auto", fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 
            013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 
            1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 
            0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
        <% end %>
      </td>
    </tr>      
  <% end %>
</table>

<table class="text-center mx-auto">
  <th><%= paginate @snapshots %></th> 
</table>
