<header>
  <div class="flex">
    <%= button_to "Create Pool", new_pool_path, method: :get, 
    class: 'h-10 px-5 m-2 text-blue-100 transition-colors duration-150 bg-blue-600 
    rounded-lg focus:shadow-outline hover:bg-blue-700' %>

    <%= button_to "Logout", destroy_user_session_path, method: :delete, 
    class: 'h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700
    rounded-lg focus:shadow-outline hover:bg-red-800' %>
  </div>
</header>
